{#
# -------------------------------------------------------------------------
# UI Branding plugin for GLPI
# -------------------------------------------------------------------------
#
# LICENSE
#
# This file is part of UI Branding plugin for GLPI.
#
# "UI Branding plugin for GLPI" is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.
#
# "UI Branding plugin for GLPI" is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with "UI Branding plugin for GLPI". If not, see <http://www.gnu.org/licenses/>.
# -------------------------------------------------------------------------
# @copyright Copyright (C) 2025 by i-Vertix/PGUM.
# @license   GPLv3 https://www.gnu.org/licenses/gpl-3.0.html
# @link      https://github.com/i-Vertix/glpi-modifications
# -------------------------------------------------------------------------
#}

{% import 'components/form/fields_macros.html.twig' as fields %}

<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class='p-2 flex-grow-1 card'>
                <div class="asset">
                    <form id="main-form" name="uibranding_form" method="post" action="{{ url }}"
                          enctype="multipart/form-data"
                          data-submit-once>
                        <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}"/>
                        {{ fields.largeTitle(__('UI Branding', 'mod'), 'ti ti-paint', true) }}
                        <div class="card-body d-flex flex-wrap">
                            <div class="col-12 col-xxl-12 flex-column">
                                <div class="d-flex flex-row flex-wrap flex-xl-nowrap">
                                    <div class="row flex-row align-items-start flex-grow-1">
                                        <div class="row flex-row">
                                            {{ fields.smallTitle(__('Apply Modifications', 'mod'), 'ti ti-adjustments') }}
                                            {{ fields.textField('title', title, __('Page Title', 'mod')) }}
                                            {{ fields.dropdownYesNo('show_background', show_background, __('Show login background', 'mod')) }}
                                            {{ fields.dropdownYesNo('show_custom_logos', show_custom_logos, __('Show custom logos', 'mod')) }}
                                            {{ fields.dropdownYesNo('show_custom_favicon', show_custom_favicon, __('Show custom favicon', 'mod')) }}
                                            {{ fields.smallTitle(__('Custom Images', 'mod'), 'ti ti-photo') }}
                                            <div class="form-field row align-items-center col-12 col-sm-6  mb-2">
                                                <label class="col-form-label col-xxl-5 text-xxl-end "
                                                       for="background_input">
                                                    {{ __('Background (min. 1920x1080 - JPG)', 'mod') }}
                                                </label>
                                                <div class="col-xxl-7  field-container">
                                                    <input type="file" class="form-control" name="background"
                                                           accept="image/jpeg" id="background_input"/>
                                                </div>
                                            </div>
                                            <div class="row align-items-center justify-content-center col-12 col-sm-6 mb-2">
                                                <img style='max-width: 100%; max-height: 250px; width: auto;'
                                                     src='{{ preview_url }}?resource=background'
                                                     alt='{{ __('Background', 'mod') }}'/>
                                            </div>
                                            <div class="row border-top mb-2 ms-2 me-2"></div>
                                            <div class="form-field row align-items-center col-12 col-sm-6  mb-2">
                                                <label class="col-form-label col-xxl-5 text-xxl-end "
                                                       for="logo_s_input">
                                                    {{ __('Small Logo (53x53 - PNG)', 'mod') }}
                                                </label>
                                                <div class="col-xxl-7  field-container">
                                                    <input type="file" class="form-control" name="logo_s"
                                                           accept="image/png" id="logo_s_input"/>
                                                </div>
                                            </div>
                                            <div class="row align-items-center justify-content-center col-12 col-sm-6 mb-2">
                                                <img style='max-width: 100%; max-height: 250px; width: auto'
                                                     src='{{ preview_url }}?resource=logo_s'
                                                     alt='{{ __('Small Logo', 'mod') }}'/>
                                            </div>
                                            <div class="row border-top mb-2 ms-2 me-2"></div>
                                            <div class="form-field row align-items-center col-12 col-sm-6  mb-2">
                                                <label class="col-form-label col-xxl-5 text-xxl-end "
                                                       for="logo_m_input">
                                                    {{ __('Medium Logo (100x55 - PNG)', 'mod') }}
                                                </label>
                                                <div class="col-xxl-7  field-container">
                                                    <input type="file" class="form-control" name="logo_m"
                                                           accept="image/png" id="logo_m_input"/>
                                                </div>
                                            </div>
                                            <div class="row align-items-center justify-content-center col-12 col-sm-6 mb-2">
                                                <img style='max-width: 100%; max-height: 250px; width: auto'
                                                     src='{{ preview_url }}?resource=logo_m'
                                                     alt='{{ __('Medium Logo', 'mod') }}'/>
                                            </div>
                                            <div class="row border-top mb-2 ms-2 me-2"></div>
                                            <div class="form-field row align-items-center col-12 col-sm-6  mb-2">
                                                <label class="col-form-label col-xxl-5 text-xxl-end "
                                                       for="logo_l_input">
                                                    {{ __('Large Logo (250x138 - PNG)', 'mod') }}
                                                </label>
                                                <div class="col-xxl-7  field-container">
                                                    <input type="file" class="form-control" name="logo_l"
                                                           accept="image/png" id="logo_l_input"/>
                                                </div>
                                            </div>
                                            <div class="row align-items-center justify-content-center col-12 col-sm-6 mb-2">
                                                <img style='max-width: 100%; max-height: 250px; width: auto'
                                                     src='{{ preview_url }}?resource=logo_l'
                                                     alt='{{ __('Large Logo', 'mod') }}'/>
                                            </div>
                                            <div class="row border-top mb-2 ms-2 me-2"></div>
                                            <div class="form-field row align-items-center col-12 col-sm-6  mb-2">
                                                <label class="col-form-label col-xxl-5 text-xxl-end "
                                                       for="favicon_input">
                                                    {{ __('Favicon (16x16 - ICO)', 'mod') }}
                                                </label>
                                                <div class="col-xxl-7  field-container">
                                                    <input type="file" class="form-control" name="favicon"
                                                           accept=".ico,image/x-icon" id="favicon_input"/>
                                                </div>
                                            </div>
                                            <div class="row align-items-center justify-content-center col-12 col-sm-6 mb-2">
                                                <img style='max-width: 100%; max-height: 250px; width: auto'
                                                     src='{{ preview_url }}?resource=favicon'
                                                     alt='{{ __('Favicon', 'mod') }}'/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-button-separator card-body mx-n2 border-top d-flex flex-row-reverse align-items-start flex-wrap">
                            <button class="btn btn-primary me-2" type="submit" name="update" value="1">
                                <i class="ti ti-device-floppy"></i>
                                <span>{{ _x('button', 'Save') }}</span>
                            </button>
                        </div>
                        <div class="card-footer mx-n2 mb-n2"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
